{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <link href="http://{{ app.rootURL }}/styles/failed.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>{{ something }} failed</h2>
                <div class="error-details">
                    Sorry, the entered data is not correct.
                </div>
                {% if something == "Validation" %}
                    {% if attribute(app, "user.logged_in") == true %}
                        {% set btnUrl = "/user/" ~ userID %}
                    {% else %}
                        {% set btnUrl = "/signup" %}
                    {% endif %}
                    <div class="error-actions">
                        <a href="http://{{ app.rootURL ~ btnUrl }}" class="btn btn-warning btn-lg">
                            <span class="glyphicon glyphicon-repeat"></span> Try again </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
