{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <link href= "../styles/user_page.css" rel="stylesheet">

{% endblock %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
<div class="page-header">
    <h1>{{ user.name }}'s page</h1>
</div>
<div class="user-info">
    <h2>Personal info</h2>
    {% include "signup_form.html" %}
</div>
<div class="user-files">
    <h2>My files</h2>
    {% if files is not empty %}
    <table class="table table-condensed files-table">
        <tbody>
            {% for item in files %}
                <tr>
                    <td><a href="{{ "/file/" ~ item.id }}">{{ item.originalName }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}
