{% extends "base.html" %}

{% block head %}
    {{ parent() }}
    <link href= "http://{{ app.rootURL }}/styles/upload.css" rel="stylesheet">
{% endblock %}

{% block title %}Upload{% endblock %}

{% block content %}
<div class="center-h">
    <h3>Drag a file from your desktop...</h3>
</div>
<div class="upload">
    <div class="droppable" id="dropbox-1">
        <ol class="filelist" id="filelist-1">

        </ol>
    </div>
    <div class="send-button">
        <button type="button" class="btn-lg btn-success" id="send-1">Upload!</button>
    </div>
<div>

<script src="../scripts/drag&amp;drop&amp;upload.js" type="text/javascript"></script>
{% endblock %}
